@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: 'Calistoga', sans-serif;
  /* font-weight: 300; */
}

/* .swiper {
  width: 50%;
  height: 100%;
} */

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: start;
  align-items: center;
  /* gap: 0rem; */
  padding: 0.2rem;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
